[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Bootstrap 4 Component - Chosen
[access "refs/*"]
	owner = group user/elrapha
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/elrapha
	label-Verified = -1..+1 group user/elrapha
	push = group user/elrapha
	read = group user/elrapha
	rebase = group user/elrapha
	removeReviewer = group user/elrapha
	submit = group user/elrapha
[access "refs/heads/*"]
	create = group user/elrapha
	push = +force group user/elrapha
	pushMerge = group user/elrapha
	read = group user/elrapha
[access "refs/tags/*"]
	push = group user/elrapha
	push = +force group user/elrapha
